@using MercadoEletro.Enums;
@model MaterialTipo
@{
    ViewData["Title"] = "EditMaterialTipo";
}

<h1>Editar</h1>

<a asp-action="indexMaterialTipo" class="btn btn-primary">Tipos de Material</a>
<form asp-action="editMaterialTipo">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
    <botao texto="Editar"></botao>
</form>
