<div class="text-center">
    <h1>Bem-vindo ao Blog</h1>
    <p>Selecione uma das opções abaixo:</p>
</div>

<div class="text-center">
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Post")">Listar Posts</a>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Post")">Criar Post</a>
</div>
