@using MercadoEletro.Enums;
@model Produto
@{
    ViewData["Title"] = "EditProduto";
}

<h1>Editar</h1>


<a asp-action="indexProduto" class="btn btn-primary">Produtos</a>
<form asp-action="editProduto">
    <input asp-for="Cadastro" hidden />
    <input asp-for="Atualizacao" hidden />
    <div class="row">
        <div class="col">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="Marca"></label>
            <input asp-for="Marca" class="form-control" />
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Preco"></label>
            <input asp-for="Preco" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="MaterialTipo"></label>
            <select asp-for="MaterialTipoId" asp-items="@ViewBag.materiais">
                <option>Selecione</option>
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Importancia"></label>
            <select asp-for="Importancia" asp-items="@Html.GetEnumSelectList<ImportanciaEnum>()" class="form-select">
                <option>Selecione</option>
            </select>
        </div>
        <div class="col">
            <label asp-for="Impacto"></label>
            <select asp-for="Impacto" asp-items="@Html.GetEnumSelectList<ImpactoEnum>()" class="form-select">
                <option>Selecione</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <input asp-for="Ativo" />
        <label asp-for="Ativo"></label>
    </div>

    <botao texto="Editar"></botao>
</form>
